{% extends 'base.html.twig' %}

{% block body %}

<div class="col-5 mx-auto">
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Подобрать тарифы</button>
    {{ form_end(form) }}
</div>

{% endblock body %}
