{% extends 'base.html.twig' %}

{% block body %}
<div class="col-12 mx-auto">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Банк</th>
                {% for bank in banks %}
                    <th colspan="{{ bank['count'] }}">{{ bank['name'] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Тариф</th>
                {% for tariff in tariffs %}
                    <th>{{ tariff.getName() }}</th>
                {% endfor %}
            </tr>

            <tr>
                <th>Стоимость</th>
                {% for tariff in tariffs %}
                    <td>{{ tariff.getCost() }}</td>
                {% endfor %}
            </tr>

{#            <tr>#}
{#                <th>Бесплатное обслуживание</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Бизнес-карты (годовое обслуживание)</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Прием на БК/касса</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Выдача с БК</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Бесплатные ПП</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Перевод на ФЛ</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Выдача по чеку</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}

{#            <tr>#}
{#                <th>Комментарии</th>#}
{#                <td>Бесплатно</td>#}
{#                <td>500 руб</td>#}
{#                <td>100 руб</td>#}
{#            </tr>#}
        </tbody>
    </table>
</div>
{% endblock body %}
